.class-title {
  font-size: 0.9em;
  color: var(--white);
  position: fixed;
  top: 38px;
  right: 25vw;
  z-index: 5;
  filter: drop-shadow(4px 2px var(--black));
}

.class-select {
  font-size: 0.8em;
  color: var(--primary);
  background-color: var(--secondary);
  position: fixed;
  border: 2px solid var(--tertiary);
  outline: none;
  height: 32px;
  width: 20vw;
  right: 3vw;
  top: 45px;
  z-index: 5;
  justify-content: center;
  filter: drop-shadow(1px 1px 2px var(--tertiary));
}

@media screen and (min-width: 600px) {
  .class-select {
    top: 42px;
    height: 35px;
  }

  .class-title {
    font-size: 1rem;
    top: 32px;
    right: 25vw;
  }
}

@media screen and (min-width: 900px) {
  .class-select {
    top: 51px;
    right: 1vw;
    width: 23vw;
    height: 36px;
  }

  .class-title {
    top: 41px;
  }
}
