.spell-card {
  background-color: var(--secondary);
  color: var(--white);
  border-radius: 1rem;
  list-style: none;
  max-width: 256px;
  min-height: 430px;
  padding: 4px;
  gap: 16px;
  margin-bottom: 16px;
  filter: drop-shadow(0px 3px 4px var(--primary));
}

.school-img {
  position: absolute;
  top: 50px;
  right: 50%;
  transform: translateX(50%);
  width: 90%;
  object-fit: contain;
  z-index: -1;
  color: var(--primary);
  filter: invert(100%);
  opacity: 0.1;
}

.spell-card hgroup {
  margin-bottom: 4px;
}

.spell-card hgroup h4 {
  color: var(--primary);
  margin-bottom: 4px;
}

.spell-card .stats {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.spell-card .stats strong {
  color: var(--primary);
  text-align: center;
  font-size: 1.1em;
}

.spell-card .stats p {
  display: flex;
  flex-direction: column;
  padding: 0 4px;
  font-size: 0.75rem;
}

.description {
  display: flex;
  flex-direction: column;
  padding: 0 20px 8px;
  font-size: 0.75rem;
}

.spell-card .description strong {
  color: var(--primary);
  text-align: center;
  font-size: 1.1em;
}

.show-more-less-clickable {
  color: var(--tertiary);
}

.show-more-less-clickable:hover {
  text-decoration: underline;
  cursor: pointer;
}

@media screen and (min-width: 600px) {
  .spell-card {
    max-width: 256px;
  }
}

@media screen and (min-width: 900px) {
  .spell-card {
    max-width: 256px;
  }
}
