.loading {
  color: var(--primary);
  font-size: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.spell-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 25px;
  padding: 0;
  margin: 120px 0;
}

@media screen and (min-width: 900px) {
  .spell-list {
    margin-top: 130px;
  }
}
